body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #5a77ea;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.music-player {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.track-info {
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.progress-container {
    background: #ddd;
    border-radius: 5px;
    height: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}

.progress {
    background: #333;
    height: 100%;
    width: 0%;
}

.time-info {
    font-size: 14px;
}